/* Common styles for headings */
.home h1 {
    text-decoration-line: underline;
    /* margin-bottom: 20px; */
    padding-left: 10px;
    color: #263354;
    text-align: left;
    padding-top: 50px;
}

/* Styles for the 'home' section */
/* .home {
    padding: 50px 0;
    text-align: left;
} */

.home p {
    padding-top: 10px;
    font-size: 18px;
    color: #263354;
    margin-top: 10px; /* Adjust spacing */
    padding-left: 10px;
    padding-top: 65px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
}

.home img {
    width: 400px; /* Ensure image doesn't overflow */
    border-radius: 25px;
    opacity: 1;
    margin-top: 20px;
    height: 400px;

}

/* Styles for the 'Medishelter' section */

.Medishelter {
    padding: 50px 0;
    text-align: left;
}

.Medishelter h1{
    text-decoration-line: underline;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #263354;
    text-align: center;
    margin-top:90px;
}

.Medishelter p {
    font-size: 18px;
    color: #263354;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Poppins';
}

/* Styles for the 'Teams' section */
.Teams {
    padding: 50px 0;
    text-align: center;
}

.Teams h1{
    text-decoration: underline;
    color: #263354;
}

.Teams p {
    font-size: 18px;
    color: #263354;
    margin-top: 20px;
    text-align: center;
    padding: 100px;
    font-family: 'Poppins';
    font-weight: bold;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .home p, .Medishelter p, .Teams p {
        font-size: 16px;
    }

    .home img {
        width: 100%; /* Adjust image width for smaller screens */
        height: auto;
    }
}
