nav {
  position: fixed;
  top: 0;
  right: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: beige;
  color: orange;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 24px;
  background: #FF5503;
 
}

.menu-icon div {
  height: 2px;
  width: 100%;
  background-color: white;
  border-color: #FF5503;
}
.menu-options {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px; /* adjust this value to position the menu options vertically */
  left: 0;
  background-color: #FF5503;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-options li {
  padding: 10px;
}

.menu-options li button {
  /* background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  width: 100%; */
  display: block;
  padding: 10px;
  background-color: #FF5503;
  color: white;
  border-color: #FF5503;
  font-size: 16px;
}

.menu-options li button:hover {
  background-color: beige;
  color: orange;
}