body {
    font-family: 'Poppins', sans-serif;
    background-color: #8ec1d6;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  }
  
  .prescription-form {
    margin: 100px auto;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
    overflow: auto;
  }
  
  .prescription-form h1 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #070606;
  }
  
  .prescription-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #050404;
  }
  
  .prescription-form input,
  .prescription-form textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #000000;
  }
  
  .prescription-form button {
    display: block;
    width: 100%;
    height: 35px;
    background-color: #FFCDB2;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .prescription-form button:hover {
    background-color: #FF5503;
  }
  