.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    /* background-color: #f9f9f9; */
  }
  
  .table tr:hover {
    /* background-color: #e6e6e6; */
  }
  .table-container {
    margin-bottom: -20px;
  }  
 
body {
  height: 100%;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 90px;
}
