* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #fff; */
  background-size: 1000px;
}

.App {
  text-align: center;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  font-family: 'Poppins', sans-serif;
  /* background: white; Change background color to white */
  /* background-image: url(bg-image.jpg); */


}

.logIn-form {
  margin: 10px auto;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
}
.logIn-form h1 {
  /* text-align: center; */
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 60;
  color: black;
}
.logIn-form p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #6D6875;
  padding: 10px 10px;
}

.logIn-form input {
  display: block;
  width: 80%;
  height: 25px;
  margin-left: 28px; 
  margin-right: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  color: black;
}
.logIn-form button {
  background-color: #FFCDB2;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  border-radius: 7px;
  padding: 5px 10px;
  border: none;
  margin-top: 12px;
}
.logIn-form button:hover {
  background-color: #FF5503;
}
